<!DOCTYPE html>
<html>
<head>
  <title>Unix timestamp index</title>
  <meta property="og:title" content="Unix Timestamp Index" />
  <meta property="og:description" content="Unix timestamp information every timestamp and it's conversion to RFC standards" />
  <meta property="og:url" content="https://unixtimestamps.rsmith.co/" />

  <meta name="description" content="Unix timestamp information about all timestamps and their conversion to RFC standards. Convert any unix timestamp to RFC standards.">
  <meta name="keywords" content="conversion, converter, epoch, programming, rfc, stamp, standards, time, timestamp, unix">
  <meta name="google-site-verification" content="-U6zAp_AaTkCZkycKQfMOSC2lH4f_Ik8UxkuURKOKis" />
  <style>
  body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  table { margin: 0.5em; }
  th, td { padding: 0.5em; }
  th { text-align: left; }
  td.r { text-align: right; }
  </style>
</head>
<body>
  <h1>Unix timestamp index</h1>

  <p>Checkout the following notable exampes:</p>

  <ul>
    <li><a href="/unixtimestamp/1000000000">The unix billennium (01:46:40 UTC on Sunday, 9 September 2001)</a></li>
    <li><a href="/unixtimestamp/1234567890">1234567890 - like the keyboard row (23:31:30 UTC on 13 February 2009)</a></li>
    <li><a href="/unixtimestamp/2147483647">signed 32-bit versions of the Unix time stamp will cease to work (03:14:08 UTC on Tuesday, 19 January 2038)</a></li>
    <li><a href="/unixtimestamp/4294967295">unsigned 32-bit versions of the Unix time stamp will cease to work (06:28:15 UTC on Sunday, 7 February 2106)</a></li>
  </ul>
  <p>See more <a href="https://en.wikipedia.org/wiki/Unix_time#Notable_events_in_Unix_time" rel="noopener">here</a></p>


  <h2>What is the unix time stamp?</h2>
  <p>It's the number of seconds since the Unix Epoch. The Unix Epoch starts January 1st, 1970 at UTC, and skips <a href="https://en.wikipedia.org/wiki/Leap_second" rel="noopener">leap seconds</a>. The Unix Epoch is based on a UTC starting point, so does not change in different timezones. <a href="https://en.wikipedia.org/wiki/Unix_time" rel="noopener">Read more on wikipedia</a>.</p>

  <h2>What happens on January 19, 2038?</h2>
  <p>In early 2038 the Unix Time Stamp, if uses 32-bit signed integer, will overflow. This is really bad. Older systems will need to upgrade their timestamp storage to cope to avoid failure. <a href="https://en.wikipedia.org/wiki/Year_2038_problem" rel="noopener">Read more on wikipedia</a>.</p>
</body>
</html>